{% extends 'base.html.twig' %}

{% block title %}Liste des salles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/liste_salles.css') }}">
{% endblock %}

{% block body %}

    <header>
        <h1>Liste des salles</h1>
        <a href="/salles">Retour</a>
    </header>


    <div class="container">
        <div>Salles</div>
        <div>Details</div>

        <div>Exemple1</div>
        <div><a href="/salles/1">Voir détails</a></div>

{#        {{ for salle in salles }}#}
{#            <div>{{ salle.name }}</div>#}
{#            <a href="{{ Route }}">Voir plus</a>#}
{#        {{ endfor }}#}
    </div>

{% endblock %}