{% extends 'base.html.twig' %}

{% block title %}Détails de la salle{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/salle_info.css') }}">
{% endblock %}

{% block body %}
    <div class="salle-container">
        <div class="header">
            <a class="backButton" href="/charge/salles">Retour à la liste</a>
            <div class="salle-num">{{ salle.numSalle }}</div>
        </div>

        {% if sa.temperature is null and sa.humidite is null and sa.CO2 is null %}
            <div class="salle-details">
                <div>Aucunes données</div>
            </div>
        {% else %}
            <div class="salle-details">
                <div class="detail-block">
                    <div class="label">T°</div>
                    <div class="value temp">{{ sa.temperature }}°</div>
                </div>
                <div class="detail-block">
                    <div class="label">H°</div>
                    <div class="value humidity">{{ sa.humidite }}%</div>
                </div>
                <div class="detail-block">
                    <div class="label">Co²</div>
                    <div class="value co2">{{ sa.CO2 }}</div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
