{% extends 'base.html.twig' %}

{% block title %}Normes{% endblock %}

{% block body %}

    <h1>Normes des salles</h1>

    <h2>Humidité</h2>
    <p>Min : {{ humidityMinNorm }}</p>
    <p>Max : {{ humidityMaxNorm }}</p>

    <h2>Température</h2>
    <p>Min : {{ temperatureMinNorm }}</p>
    <p>Max : {{ temperatureMaxNorm }}</p>

    <h2>CO2</h2>
    <p>Min : {{ co2MinNorm }}</p>
    <p>Max : {{ co2MaxNorm }}</p>
{% endblock %}
