{% extends 'base.html.twig' %}

{% block title %}Détails de la salle{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/salle_info.css') }}">
{% endblock %}

{% block body %}
    <div class="salle-container">
        <div class="header">
            <a class="backButton" href="/charge/salles/liste">Retour à la liste</a>
            <div class="salle-num">{{ room.roomName }}</div>
        </div>

        {% if sa is null %}
            <div class="salle-details">
                Aucune donnée.
            </div>
        {% else %}
            <div class="salle-details">
                <div class="detail-block">
                    <div class="label">T°</div>
                    <div class="value temp">{{ sa.temperature|default('N/A') }}°</div>
                </div>
                <div class="detail-block">
                    <div class="label">H°</div>
                    <div class="value humidity">{{ sa.humidity|default('N/A') }}%</div>
                </div>
                <div class="detail-block">
                    <div class="label">Co²</div>
                    <div class="value co2">{{ sa.CO2|default('N/A') }}</div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}